.experience-holder{
    background-color: white;
    width:200px;
    height:200px;
    border-radius: 12px;
    box-shadow: 0 4px 0 black;
    color:black;
    text-align: center;
    padding: 8px 12px;
    cursor: pointer;
    transition: transform 0.5s ease;

}

.experience-holder:hover{
    transform: scale(1.1);
}

.container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    height: 100vh;
    margin: 0, auto;


}