:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --text: #242424;
  --bg: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='dark']{
   --bg: #242424;
  --text: rgba(255, 255, 255, 0.87);

}

body{
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}
.button{
  padding:1.5rem;
  border-radius: 20px;
  cursor: pointer;
  width: 50px;
  height: fit-content;
  background-color: inherit;
  border: none;
}

.main-nav{
   background-color: inherit;
   width:100vw;
   height:50px;
   align-self: center;
   top:0;
   left:100;
   margin: 0;
   padding: 0;
   overflow: hidden;
   border-bottom: 1px solid black;
   position: fixed;
}


.get-started{
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #FF0072;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  cursor: pointer;
  background-color: lime;
  width:400px;
  transition: screen 0.3s login-form 0.3s;
}

.holder{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.get-started:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF0072;
  z-index: -1;
  border-radius: 10px;
}

.get-started:hover, .get-started:focus {
  color: white;
}

.get-started:hover:before, .get-started:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}
.get-started:active {
  transform: scale(0.9);
}
.holder h3{
  font-size: 32px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-variant: var(--bg);
}
