
.screen{
  width: 100vw;
  height: 100vh;
  background-color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  
}

.login-form{
  background-color: inherit;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap:20px;
  justify-content: center;
  max-width:500px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;

}

.login-form input{
  border-radius: 10px;
  background-color: #02132e;
  padding: 8px 12px;
  border: none;
  max-width:300px;
  height:40px;
  padding-left: 40px;
  width: 100%;
  margin: 0 auto;
  

}

.login-form input::placeholder{
  color: white;
  font-weight: bold;

}



.login-form input:focus{
  border-color: 1px solid #008b8b;
}

.login-button{
  width:350px;
  height:40px;
  background-color: aqua;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: black;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0 4px 0 #008b8b;
  border: none;
  transition: transform 0.2s box-shadow 0.2s ease;

}

.login-button:hover{
  transform: translateY(-3px);
  box-shadow: 0 6px 0 #008b8b;

}

.line{
  background-color: azure;
  width:140px;
  height: 2px;
  border-radius: 15px;

}
.login-holder{
  width:auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  

}
.login-text{
  font-size: 32px;
  font-style: unset;
  font-display:block;
  display: block;

}

.input-holder{
  position: relative;
  display: flex;
  height:50px;
  max-width:500px;
 align-items: center;
 width: 100%;
 margin: 0 auto;


  
}

.login-form button:active{
  transform: translateY(3px);
  box-shadow: 0px 0px 0px #008b8b;

}
.close{
  align-items: flex-start;
  left: 0;
  top: 0;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
}


.fa-input{
  position: absolute;
  left:80px;
  pointer-events: none;
  z-index: 2;
  color: cyan;
  margin: 0 auto;
  pointer-events: none;
}

.eye-button{
  position: absolute;
  right:80px;
  background-color: transparent;
  display: flex;
  z-index: 10;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 20px;
  padding: 0;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  border: none;

}
.eye-input{
  color: cyan;
  left: 10px;
}

.auxilliary-button{
  background-color: rgba(128, 128, 128, 0.797);
  width: 170px;
  text-transform: uppercase;
  padding: 10px;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;

}